a:link {
	color: #FF6634;
	text-decoration: none;
}

a:visited {
	color: #FF6634;
	text-decoration: none;
}

a:hover {
	color: #FF9D77;
	text-decoration: underline;
}

a:active {
	color: #B32B00;
	text-decoration: underline;
}



/* custom-styling */
.navbar, main {
	padding: 20px;
	width: 100%;
}

span:not(.navbar-brand) {
	background-color: yellow;
	padding-left: 2px;
	padding-right: 2px;
}

body {
	margin:20px !important;
	margin-top: 0 !important;
}

#index {
	display: flex;
}

.navbar {
	display: flex;
	flex-direction: column;
	background-color: rgb(72, 93, 197) !important;
	position: relative;
}

#logo {
	width: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
}